@CHARSET "UTF-8";

/*STYLES (EmployeeDepartment - view.jsp) */

img.state-image {
	width: 20px;
	height: 20px;
}
.aui img {
	width:20px;
	
	}
	
.candidate-status {
	text-align: center !important;
	width: 30px;
}

.edit-icon, .delete-icon{
	opacity: 0.09 !important;
	width: 5px;
}
.view-icon {
	opacity: 0.09 !important;
	width: 20px;
}
.candidtae-edit-link:hover  img{
	opacity: 1.0 !important;
}

.div-add-candidate>a.add-candidate-link {
	float: right;
	font-weight: 600;
	text-decoration: none;
	COLOR: #C2A27A;
	text-transform: uppercase;
	padding: 7px 16px;
}

.div-add-candidate:HOVER>a.add-candidate-link {
	color: #EEFEEF;
	background: #535353;
	text-transform: uppercase;
}