@CHARSET "UTF-8";
/*STYLES (EmployeeDepartment - view.jsp) */
img.state-image {
  width: 20px;
  height: auto; }

.registration-status {
  text-align: center !important; }

.edit-icon, .delete-icon {
  opacity: 0.09; }

.registration-edit-link:hover img {
  opacity: 1; }

.div-add-registration > a.add-registration-link {
  float: right;
  font-weight: 600;
  text-decoration: none;
  COLOR: #C2A27A;
  text-transform: uppercase;
  padding: 7px 16px; }

.div-add-registration:HOVER > a.add-registration-link {
  color: #EEFEEF;
  background: #535353;
  text-transform: uppercase; }

#button2 {
  position: absolute;
  right: 0px; }

/* .DateTextBox{    
    margin-bottom:20px;
} */

